/*----------------------
	Reset
----------------------*/

html,
body,
div,
span,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
abbr,
address,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
samp,
small,
strong,
sub,
sup,
var,
b,
i,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
summary,
time,
mark,
audio,
video {
  padding: 0;
  margin: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
  border: 0;
  outline: 0;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

nav ul {
  margin: 0;
  list-style: none;
}

a {
  padding: 0;
  margin: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

input,
select {
  vertical-align: middle;
}

p,
blockquote,
ul,
ol {
  margin: 1.12em 0;
}

sub,
sup {
  position: relative;
  font-size: 75%;
  line-height: 0;
  vertical-align: baseline;
}

sup {
  top: -0.5em;
}

sub {
  bottom: -0.25em;
}

small {
  font-size: 75%;
}

.clearfix {
  *zoom: 1;
}

.clearfix:before,
.clearfix:after {
  display: table;
  content: "";
}

.clearfix:after {
  clear: both;
}

.hidden {
  display: none !important;
}

.hide-text {
  font: 0/0 a;
  color: transparent;
  text-shadow: none;
  background-color: transparent;
  border: 0;
}

.btn {
  display: inline-block;
  *display: inline;
  padding: 4px 10px 4px;
  margin-bottom: 0;
  *margin-left: .3em;
  font-size: 81.25%;
  line-height: 18px;
  *line-height: 20px;
  color: #333333;
  text-align: center;
  text-shadow: 0 1px 1px rgba(255, 255, 255, 0.75);
  vertical-align: middle;
  cursor: pointer;
  background-color: #f5f5f5;
  *background-color: #e6e6e6;
  background-image: -ms-linear-gradient(top, #ffffff, #e6e6e6);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#ffffff), to(#e6e6e6));
  background-image: -webkit-linear-gradient(top, #ffffff, #e6e6e6);
  background-image: -o-linear-gradient(top, #ffffff, #e6e6e6);
  background-image: linear-gradient(top, #ffffff, #e6e6e6);
  background-image: -moz-linear-gradient(top, #ffffff, #e6e6e6);
  background-repeat: repeat-x;
  border: 1px solid #cccccc;
  *border: 0;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  border-color: #e6e6e6 #e6e6e6 #bfbfbf;
  border-bottom-color: #b3b3b3;
  -webkit-border-radius: 4px;
     -moz-border-radius: 4px;
          border-radius: 4px;
  filter: progid:dximagetransform.microsoft.gradient(startColorstr='#ffffff', endColorstr='#e6e6e6', GradientType=0);
  filter: progid:dximagetransform.microsoft.gradient(enabled=false);
  *zoom: 1;
  -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
     -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
          box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
}

.btn:hover,
.btn:active,
.btn.active,
.btn.disabled,
.btn[disabled] {
  background-color: #e6e6e6;
  *background-color: #d9d9d9;
}

.btn:active,
.btn.active {
  background-color: #cccccc \9;
}

.btn:first-child {
  *margin-left: 0;
}

.btn:hover {
  color: #333333;
  text-decoration: none;
  background-color: #e6e6e6;
  *background-color: #d9d9d9;
  /* Buttons in IE7 don't get borders, so darken on hover */

  background-position: 0 -15px;
  -webkit-transition: background-position 0.1s linear;
     -moz-transition: background-position 0.1s linear;
       -o-transition: background-position 0.1s linear;
          transition: background-position 0.1s linear;
}

.btn.active,
.btn:active {
  background-color: #e6e6e6;
  background-color: #d9d9d9 \9;
  background-image: none;
  outline: 0;
  -webkit-box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.15), 0 1px 2px rgba(0, 0, 0, 0.05);
     -moz-box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.15), 0 1px 2px rgba(0, 0, 0, 0.05);
          box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.15), 0 1px 2px rgba(0, 0, 0, 0.05);
}

.btn.disabled,
.btn[disabled] {
  cursor: default;
  background-color: #e6e6e6;
  background-image: none;
  opacity: 0.65;
  filter: alpha(opacity=65);
  -webkit-box-shadow: none;
     -moz-box-shadow: none;
          box-shadow: none;
}

.btn-large {
  padding: 9px 14px;
  font-size: 83.25%;
  line-height: normal;
  -webkit-border-radius: 5px;
     -moz-border-radius: 5px;
          border-radius: 5px;
}

.btn-large [class^="icon-"] {
  margin-top: 1px;
}

.btn-small {
  padding: 5px 9px;
  font-size: 79.25%;
  line-height: 16px;
}

.btn-small [class^="icon-"] {
  margin-top: -1px;
}

.btn-mini {
  padding: 2px 6px;
  font-size: 79.25%;
  line-height: 14px;
}

.btn-primary,
.btn-primary:hover,
.btn-warning,
.btn-warning:hover,
.btn-danger,
.btn-danger:hover,
.btn-success,
.btn-success:hover,
.btn-info,
.btn-info:hover,
.btn-inverse,
.btn-inverse:hover {
  color: #ffffff;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
}

.btn-primary.active,
.btn-warning.active,
.btn-danger.active,
.btn-success.active,
.btn-info.active,
.btn-inverse.active {
  color: rgba(255, 255, 255, 0.75);
}

.btn {
  border-color: #ccc;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
}

.btn-primary {
  background-color: #4174bc;
  *background-color: #4161bc;
  background-image: -ms-linear-gradient(top, #4180bc, #4161bc);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#4180bc), to(#4161bc));
  background-image: -webkit-linear-gradient(top, #4180bc, #4161bc);
  background-image: -o-linear-gradient(top, #4180bc, #4161bc);
  background-image: -moz-linear-gradient(top, #4180bc, #4161bc);
  background-image: linear-gradient(top, #4180bc, #4161bc);
  background-repeat: repeat-x;
  border-color: #4161bc #4161bc #2d4483;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  filter: progid:dximagetransform.microsoft.gradient(startColorstr='#4180bc', endColorstr='#4161bc', GradientType=0);
  filter: progid:dximagetransform.microsoft.gradient(enabled=false);
}

.btn-primary:hover,
.btn-primary:active,
.btn-primary.active,
.btn-primary.disabled,
.btn-primary[disabled] {
  background-color: #4161bc;
  *background-color: #3a57a9;
}

.btn-primary:active,
.btn-primary.active {
  background-color: #344e96 \9;
}

.btn-warning {
  background-color: #faa732;
  *background-color: #f89406;
  background-image: -ms-linear-gradient(top, #fbb450, #f89406);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#fbb450), to(#f89406));
  background-image: -webkit-linear-gradient(top, #fbb450, #f89406);
  background-image: -o-linear-gradient(top, #fbb450, #f89406);
  background-image: -moz-linear-gradient(top, #fbb450, #f89406);
  background-image: linear-gradient(top, #fbb450, #f89406);
  background-repeat: repeat-x;
  border-color: #f89406 #f89406 #ad6704;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  filter: progid:dximagetransform.microsoft.gradient(startColorstr='#fbb450', endColorstr='#f89406', GradientType=0);
  filter: progid:dximagetransform.microsoft.gradient(enabled=false);
}

.btn-warning:hover,
.btn-warning:active,
.btn-warning.active,
.btn-warning.disabled,
.btn-warning[disabled] {
  background-color: #f89406;
  *background-color: #df8505;
}

.btn-warning:active,
.btn-warning.active {
  background-color: #c67605 \9;
}

.btn-danger {
  background-color: #da4f49;
  *background-color: #bd362f;
  background-image: -ms-linear-gradient(top, #ee5f5b, #bd362f);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#ee5f5b), to(#bd362f));
  background-image: -webkit-linear-gradient(top, #ee5f5b, #bd362f);
  background-image: -o-linear-gradient(top, #ee5f5b, #bd362f);
  background-image: -moz-linear-gradient(top, #ee5f5b, #bd362f);
  background-image: linear-gradient(top, #ee5f5b, #bd362f);
  background-repeat: repeat-x;
  border-color: #bd362f #bd362f #802420;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  filter: progid:dximagetransform.microsoft.gradient(startColorstr='#ee5f5b', endColorstr='#bd362f', GradientType=0);
  filter: progid:dximagetransform.microsoft.gradient(enabled=false);
}

.btn-danger:hover,
.btn-danger:active,
.btn-danger.active,
.btn-danger.disabled,
.btn-danger[disabled] {
  background-color: #bd362f;
  *background-color: #a9302a;
}

.btn-danger:active,
.btn-danger.active {
  background-color: #942a25 \9;
}

.btn-success {
  background-color: #5bb75b;
  *background-color: #51a351;
  background-image: -ms-linear-gradient(top, #62c462, #51a351);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#62c462), to(#51a351));
  background-image: -webkit-linear-gradient(top, #62c462, #51a351);
  background-image: -o-linear-gradient(top, #62c462, #51a351);
  background-image: -moz-linear-gradient(top, #62c462, #51a351);
  background-image: linear-gradient(top, #62c462, #51a351);
  background-repeat: repeat-x;
  border-color: #51a351 #51a351 #387038;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  filter: progid:dximagetransform.microsoft.gradient(startColorstr='#62c462', endColorstr='#51a351', GradientType=0);
  filter: progid:dximagetransform.microsoft.gradient(enabled=false);
}

.btn-success:hover,
.btn-success:active,
.btn-success.active,
.btn-success.disabled,
.btn-success[disabled] {
  background-color: #51a351;
  *background-color: #499249;
}

.btn-success:active,
.btn-success.active {
  background-color: #408140 \9;
}

.btn-info {
  background-color: #49afcd;
  *background-color: #2f96b4;
  background-image: -ms-linear-gradient(top, #5bc0de, #2f96b4);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#5bc0de), to(#2f96b4));
  background-image: -webkit-linear-gradient(top, #5bc0de, #2f96b4);
  background-image: -o-linear-gradient(top, #5bc0de, #2f96b4);
  background-image: -moz-linear-gradient(top, #5bc0de, #2f96b4);
  background-image: linear-gradient(top, #5bc0de, #2f96b4);
  background-repeat: repeat-x;
  border-color: #2f96b4 #2f96b4 #1f6377;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  filter: progid:dximagetransform.microsoft.gradient(startColorstr='#5bc0de', endColorstr='#2f96b4', GradientType=0);
  filter: progid:dximagetransform.microsoft.gradient(enabled=false);
}

.btn-info:hover,
.btn-info:active,
.btn-info.active,
.btn-info.disabled,
.btn-info[disabled] {
  background-color: #2f96b4;
  *background-color: #2a85a0;
}

.btn-info:active,
.btn-info.active {
  background-color: #24748c \9;
}

.btn-inverse {
  background-color: #414141;
  *background-color: #222222;
  background-image: -ms-linear-gradient(top, #555555, #222222);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#555555), to(#222222));
  background-image: -webkit-linear-gradient(top, #555555, #222222);
  background-image: -o-linear-gradient(top, #555555, #222222);
  background-image: -moz-linear-gradient(top, #555555, #222222);
  background-image: linear-gradient(top, #555555, #222222);
  background-repeat: repeat-x;
  border-color: #222222 #222222 #000000;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  filter: progid:dximagetransform.microsoft.gradient(startColorstr='#555555', endColorstr='#222222', GradientType=0);
  filter: progid:dximagetransform.microsoft.gradient(enabled=false);
}

.btn-inverse:hover,
.btn-inverse:active,
.btn-inverse.active,
.btn-inverse.disabled,
.btn-inverse[disabled] {
  background-color: #222222;
  *background-color: #151515;
}

.btn-inverse:active,
.btn-inverse.active {
  background-color: #080808 \9;
}

button.btn,
input[type="submit"].btn {
  *padding-top: 2px;
  *padding-bottom: 2px;
}

button.btn::-moz-focus-inner,
input[type="submit"].btn::-moz-focus-inner {
  padding: 0;
  border: 0;
}

button.btn.btn-large,
input[type="submit"].btn.btn-large {
  *padding-top: 7px;
  *padding-bottom: 7px;
}

button.btn.btn-small,
input[type="submit"].btn.btn-small {
  *padding-top: 3px;
  *padding-bottom: 3px;
}

button.btn.btn-mini,
input[type="submit"].btn.btn-mini {
  *padding-top: 1px;
  *padding-bottom: 1px;
}

input,
textarea {
  display: inline-block;
  *display: inline;
  padding: 4px 6px;
  margin: 2px;
  line-height: 20px;
  color: #999999;
  background-color: #FFFFFF;
  border: 1px solid #CCCCCC;
  -webkit-border-radius: 3px;
     -moz-border-radius: 3px;
          border-radius: 3px;
  *zoom: 1;
  -webkit-box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.5);
     -moz-box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.5);
          box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.5);
  -webkit-transition: border linear 0.2s, box-shadow linear 0.2s;
     -moz-transition: border linear 0.2s, box-shadow linear 0.2s;
       -o-transition: border linear 0.2s, box-shadow linear 0.2s;
          transition: border linear 0.2s, box-shadow linear 0.2s;
}

body {
  min-width: 960px;
  margin: 0;
  font-size: 81.25%;
}

body,
select,
input,
textarea {
  font-family: Helvetica, Arial, sans-serif;
  color: #555555;
}

a {
  color: #4180bc;
  text-decoration: underline;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
}

h1 {
  margin: 1em 0;
  font-size: 1.6em;
  color: #34323A;
}

h2 {
  font-family: 'Yanone Kaffeesatz', sans-serif;
  font-size: 2.1em;
  font-weight: 400;
  color: #b21212;
}

h3 {
  margin: 0 0 0.6em;
  font-family: 'Yanone Kaffeesatz', sans-serif;
  font-size: 1.5em;
  font-weight: 400;
  color: #108792;
  text-transform: uppercase;
}

.container {
  width: 960px;
  margin-right: auto;
  margin-left: auto;
  *zoom: 1;
}

.container:before,
.container:after {
  display: table;
  content: "";
}

.container:after {
  clear: both;
}

label.not-applicable {
  padding-left: 22px;
}

[class^="icon-"],
[class*=" icon-"] {
  display: inline-block;
  *display: inline;
  width: 14px;
  height: 14px;
  margin-right: 2px;
  *margin-right: .3em;
  line-height: 14px;
  vertical-align: text-top;
  background-image: url("images/icon-sprite.png");
  background-position: 14px 14px;
  background-repeat: no-repeat;
  *zoom: 1;
}

[class^="icon-"]:last-child,
[class*=" icon-"]:last-child {
  *margin-left: 0;
}

.icon-collapse {
  background-position: 0      0;
}

.errors {
  display: block;
  padding: 15px 10px;
  color: #b21212;
  background-color: #fbd7d7;
  border: 1px solid #b21212;
}

/*----------------------
	Application View
----------------------*/

.masthead {
  padding-bottom: 80px;
  background: #ced0d4 url("/img/climpek.2.png");
}

.masthead .container {
  position: relative;
}

.logo {
  position: absolute;
  z-index: 1000;
  display: none;
  width: 37px;
  height: 55px;
  font: 0/0 a;
  color: transparent;
  text-shadow: none;
  background-color: transparent;
  background-image: url("/img/emb.2.png");
  background-position: 0 0 ;
  background-repeat: no-repeat;
  border: 0;
}

.app-hero {
  width: 576px;
  height: 142px;
  margin: 40px auto 0;
  font: 0/0 a;
  color: transparent;
  text-shadow: none;
  background-color: transparent;
  background-image: url("/img/logo.2.png");
  background-position: 0 0 ;
  background-repeat: no-repeat;
  border: 0;
}

/* --- Top Navigation Syles --- */

.sticky-goals {
  position: absolute;
  top: 235px;
  width: 100%;
  height: 60px;
  background: #ced0d4 url("/img/climpek.2.png");
  border-bottom: 1px solid #AAAAAA;
  -webkit-box-shadow: 0 4px 3px -1px #b1b1b1;
     -moz-box-shadow: 0 4px 3px -1px #b1b1b1;
          box-shadow: 0 4px 3px -1px #b1b1b1;
}

.sticky-goals.on-top {
  position: fixed;
  top: 0;
}

.page-nav {
  position: relative;
}

.page-nav .right-fixed-scroll {
  position: absolute;
  top: 84px;
  right: 0;
  z-index: -1;
  width: 31.333333%;
}

.page-nav figure img {
  display: block;
  padding: 2px;
  margin: 0 auto 20px;
  border: 1px solid #CCC;
}

.page-nav figcaption {
  padding: 0 10px;
  font-family: 'Yanone Kaffeesatz', sans-serif;
  font-size: 22px;
  color: #108792;
  text-align: center;
}

.page-nav .lead {
  padding: 0 10px;
  font-family: 'Yanone Kaffeesatz', sans-serif;
  font-size: 22px;
  color: #108792;
}

.page-nav p {
  margin: 0;
}

.page-nav ul {
  margin: 0 auto;
}

.page-nav li a {
  display: block;
  padding: 9px 30px;
  margin: 4px 0;
  font-size: 15px;
  color: #58595b;
  text-decoration: none;
  text-shadow: 0 1px 0 #FFF;
  outline: 0;
}

.page-nav li a.selected,
.page-nav li a:hover {
  padding: 8px 29px;
  color: #108792;
  text-shadow: none;
  background-color: #d8d9da;
  border: 1px solid #FFF;
  -webkit-box-shadow: 0 2px 4px -1px #bbbbbb;
     -moz-box-shadow: 0 2px 4px -1px #bbbbbb;
          box-shadow: 0 2px 4px -1px #bbbbbb;
}

.page-nav li a:active {
  padding: 8px 29px;
  color: #0d727b;
  background-color: #d1d1d2;
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#cbcccd), to(#d8d9da));
  background-image: linear-gradient(top, #cbcccd, #d8d9da);
  background-image: -moz-linear-gradient(top, #cbcccd, #d8d9da);
  background-image: -ms-linear-gradient(top, #cbcccd, #d8d9da);
  background-image: -o-linear-gradient(top, #cbcccd, #d8d9da);
  background-image: -webkit-linear-gradient(top, #cbcccd, #d8d9da);
  background-repeat: repeat-x;
  border: 1px solid #FFF;
  filter: progid:dximagetransform.microsoft.gradient(startColorstr='#cbcccd', endColorstr='#d8d9da', GradientType=0);
  -webkit-box-shadow: 0 1px 3px -1px #bbbbbb;
     -moz-box-shadow: 0 1px 3px -1px #bbbbbb;
          box-shadow: 0 1px 3px -1px #bbbbbb;
}

.page-nav li.selected a {
  padding: 9px 15px 13px;
  color: #0064cd;
  text-shadow: none;
  border-top: 4px solid #ffffff;
  -webkit-box-shadow: inset 0 5px 5px -6px #888888;
     -moz-box-shadow: inset 0 5px 5px -6px #888888;
          box-shadow: inset 0 5px 5px -6px #888888;
}

/* --- Top Navigation Syles --- */

.primary-nav {
  min-height: 20px;
  margin: 0 auto;
}

.primary-nav ul {
  position: absolute;
  left: 50%;
  z-index: 1000;
  padding: 0;
  margin-left: -158.5px;
  background-color: #108792;
  -webkit-border-radius: 0 0 8px 8px;
     -moz-border-radius: 0 0 8px 8px;
          border-radius: 0 0 8px 8px;
}

.primary-nav a {
  display: block;
  height: 21px;
  padding: 6px 15px;
  color: #FFF;
  text-align: center;
  text-decoration: none;
}

.primary-nav a.selected,
.primary-nav a:hover {
  background-color: #0a585f;
  background-image: -moz-linear-gradient(top, #095056, #0c656d);
  background-image: -ms-linear-gradient(top, #095056, #0c656d);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#095056), to(#0c656d));
  background-image: -webkit-linear-gradient(top, #095056, #0c656d);
  background-image: -o-linear-gradient(top, #095056, #0c656d);
  background-image: linear-gradient(top, #095056, #0c656d);
  background-repeat: repeat-x;
  filter: progid:dximagetransform.microsoft.gradient(startColorstr='#095056', endColorstr='#0c656d', GradientType=0);
}

.primary-nav a:active {
  background-color: #042528;
  background-image: -moz-linear-gradient(top, #031d1f, #063236);
  background-image: -ms-linear-gradient(top, #031d1f, #063236);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#031d1f), to(#063236));
  background-image: -webkit-linear-gradient(top, #031d1f, #063236);
  background-image: -o-linear-gradient(top, #031d1f, #063236);
  background-image: linear-gradient(top, #031d1f, #063236);
  background-repeat: repeat-x;
  filter: progid:dximagetransform.microsoft.gradient(startColorstr='#031d1f', endColorstr='#063236', GradientType=0);
}

.primary-nav li {
  display: inline-block;
  *display: inline;
  height: 33px;
  padding: 0;
  *zoom: 1;
}

.primary-nav li:first-child a {
  -webkit-border-radius: 0 0 0 8px;
     -moz-border-radius: 0 0 0 8px;
          border-radius: 0 0 0 8px;
}

.primary-nav li:last-child {
  margin-right: 0;
}

.primary-nav li:last-child a {
  -webkit-border-radius: 0 0 8px 0;
     -moz-border-radius: 0 0 8px 0;
          border-radius: 0 0 8px 0;
}

.primary-nav li.selected a {
  color: #FFF;
  text-shadow: 0 0 2px #222;
  background-color: #DDD;
}

.main-content {
  min-height: 700px;
  margin: 0;
  line-height: 1.5em;
  -webkit-box-shadow: inset 0 0 13px 20px #ffffff;
     -moz-box-shadow: inset 0 0 13px 20px #ffffff;
          box-shadow: inset 0 0 13px 20px #ffffff;
}

.main-content section {
  width: 64.6667%;
  padding: 45px 2% 45px 0;
  font-size: 15px;
  border-top: 1px solid #CCCCCC;
}

.main-content section:first-child {
  padding-top: 45px;
  border-top: none;
}

.main-content form {
  margin: 1.12em 0;
}

.main-content .contact-small input.btn {
  margin-left: 27%;
}

.main-content ol,
.main-content ul {
  padding-left: 40px;
}

.main-content ol li,
.main-content ul li {
  margin: 10px 0;
}

footer {
  padding: 40px 0 0 0;
  color: #888;
  background-color: #212121;
  background-color: #1b1b1b;
  background-image: -moz-linear-gradient(top, #171717, #212121);
  background-image: -ms-linear-gradient(top, #171717, #212121);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#171717), to(#212121));
  background-image: -webkit-linear-gradient(top, #171717, #212121);
  background-image: -o-linear-gradient(top, #171717, #212121);
  background-image: linear-gradient(top, #171717, #212121);
  background-repeat: repeat-x;
  filter: progid:dximagetransform.microsoft.gradient(startColorstr='#171717', endColorstr='#212121', GradientType=0);
}

footer a {
  color: #108792;
  text-decoration: none;
  text-shadow: 0 0 2px #111;
}

footer a:hover {
  color: #21d6e7;
}

footer .org-name {
  color: #b21212;
  text-shadow: 0 0 2px #111;
}

footer .col {
  float: left;
  width: 31.33333%;
  margin-left: 3%;
}

footer .col:first-child {
  margin-left: 0;
}

.copyright {
  padding: 8px 0;
  margin-top: 25px;
  color: #767676;
  background-color: #000;
}

.copyright p {
  margin: 0;
  line-height: 15px;
}

.contact-small p {
  width: 100%;
  margin: 4px 0;
  overflow: hidden;
}

.contact-small label {
  display: inline-block;
  *display: inline;
  float: left;
  width: 21%;
  padding: 4px 6px 4px 0;
  margin: 2px 2px 2px 0;
  *zoom: 1;
}

.contact-small input,
.contact-small textarea {
  float: right;
  width: 70%;
  font-family: Helvetica, Arial, sans-serif;
}

.contact-small input.btn {
  float: left;
  width: 100px;
  margin-left: 25%;
  color: #FFF;
  text-shadow: 0 1px 1px rgba(250, 250, 250, 0.3);
  background-color: #0e7983;
  *background-color: #0c646c;
  background-image: -moz-linear-gradient(top, #108792, #0c646c);
  background-image: -webkit-linear-gradient(top, #108792, #0c646c);
  background-image: -o-linear-gradient(top, #108792, #0c646c);
  background-image: linear-gradient(top, #108792, #0c646c);
  background-image: -ms-linear-gradient(top, #108792, #0c646c);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#108792), to(#0c646c));
  background-repeat: repeat-x;
  border-color: #0c646c #0c646c #042427;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  filter: progid:dximagetransform.microsoft.gradient(startColorstr='#108792', endColorstr='#0c646c', GradientType=0);
  filter: progid:dximagetransform.microsoft.gradient(enabled=false);
}

.contact-small input.btn:hover,
.contact-small input.btn:active,
.contact-small input.btn.active,
.contact-small input.btn.disabled,
.contact-small input.btn[disabled] {
  background-color: #0c646c;
  *background-color: #094f55;
}

.contact-small input.btn:active,
.contact-small input.btn.active {
  background-color: #07393e \9;
}